{% extends 'pages/dashboard.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
   
	{% block title %}
	<!-- PAGE TITLE HERE -->
	<title>Ermine Cooperative</title>
    {% endblock title %}
	
	<!-- FAVICONS ICON -->
    {% block favicon %}
	<link rel="shortcut icon" type="image/png" href="{% static 'pages/images/favicon.png' %}" />
	<link href="{% static 'pages/vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
    <link href="{% static 'pages/css/style.css' %}" rel="stylesheet">
    {% endblock favicon %}
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
   <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
	
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		
		<!--**********************************
            Chat box End
        ***********************************-->
		
		
        <!--**********************************
            Header start
        ***********************************-->
       
                    
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
       
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        {% block contentbody %}
<div class="content-body">
            <div class="container-fluid">
			
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Ermine Cooperative</h4>
                            </div>
                            <div class="card-body">
                                <h3>How Ermine Cooperative</h3>

                                <p>Ermine Cooperative is a concept of Ermine Nig. Ltd geared towards empwering business owners.
                                    Amongst the many benefits of the program, Ermine Nig Ltd is committed to encouraging small to medium scale
                                    business who signed up on the ErmineApp to enjoy the following benefits;</p>
                                    <span style="font-size: 18px;">Benefits:</span>
                                    <ul>
                                        <li><span style="font-size: 14px;"><strong>- Access to Financial Services: </strong></span>  <br>
                                            Ermine provides access to loans ans savings facilities with a more favorable terms than the 
                                            traditional cooperative society or banks.</li>
                                        <li><span style="font-size: 14px;"><strong>- Economic Empowerment:</strong></span> <br>
                                            It is an avenue for participating merchant to pool resources in collective economic activities, and improve livelihoods</li>
                                            <li> <span style="font-size: 14px;"><strong> - Education & Training:</strong> </span> <br>
                                            Ermine offers education and training programs to its members, enhancing their skills and knowledge in entrepreneurship</li>
                                            <li>Access To Markets: <br>
                                            Ermine Cooperative facilitates access to markets for its members' products and Services
                                        enabling them to obtain better prices and increase their income.</li>
                                        </ul>
                                    <hr>
                                <div class="bootstrap-modal">
                              
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Terms & Policy</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Terms & Policy</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>These Terms and Conditions (“Terms”, “Agreement”) are an agreement between ERMINE NIG. LTD. (“ERMINE, the Company”, “us”, “we” or “our”) and you (“User”, “you” or “your”).

                                                        We are a company duly registered and licensed. This Agreement including our Privacy Policy sets forth the general terms and conditions of your use of the ERMINE Websites, Web applications, and Mobile applications, a product of the Company, or such name or product communicated by ERMINE from time to time, including all features and functionality, the site, content, application, user interface and software associated with our service and any of its products or services (collectively, “Platform” or “Services”).
                                                        
                                                        By using the Platform, you are entering into a binding contract with the Company. Your agreement with us includes these Terms and our Privacy Policy (the “Agreements”).
                                                    <br><a href="https://ermine.ng/terms-of-use/">READ MORE...</a></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                                                   
                                
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="card">
                                                <div class="card-header border-0 pb-0">
                                                    <h5 class="card-title">Getting Started</h5>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text fs-20"><strong>Ermine cooperative interest rate is the half (50%) 
                                                        compared to any other obtainable in the global cooperative system </strong>
                                                    </p>
                                                </div>
                                                <div class="card-footer border-0 pt-0">
                                                    <p class="card-text d-inline">Back to dashboard</p>
                                                    <a href="javascript:void(0);" class="card-link float-end">ErmineApp Cooperative</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="card-title">How To Apply For Loan</h5>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">                                                    
                                                        <span> - Ermine open pool for qualified agents/merchants</span><br>
                                                         <span> - Declaration of CEO investment and profit reinvestment</span>  <br>
                                                          <span> - Loan grant to all qualified agents/merchants in batches </span>                                                     
                                                </p>
                                                </div>
                                                <div class="card-footer d-sm-flex justify-content-between align-items-center">
                                                    <div class="card-footer-link mb-4 mb-sm-0">
                                                        <p class="card-text text-dark d-inline">ErmineApp Cooperative</p>
                                                    </div>
                    
                                                    <a href="javascript:void(0);" class="btn btn-primary">Get Started</a>
                                                </div>
                                            </div>
                                        </div>
                                
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock contentbody %}
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
   
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    {% block script %}
    <!-- Required vendors -->
    <script src="{% static 'pages/vendor/global/global.min.js' %}"></script>
	<script src="{% static 'pages/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'pages/js/custom.min.js' %}"></script>
	<script src="{% static 'pages/js/dlabnav-init.js' %}"></script>
	<script src="{% static 'pages/js/demo.js' %}"></script>
    <script src="{% static 'pages/js/styleSwitcher.js' %}"></script>
    {% endblock script %}
</body>
</html>