

        {% extends 'pages/dashboard.html' %}
        {% load static %}
        <!DOCTYPE html>
        <html lang="en">
        
        <head>
            
            <!-- PAGE TITLE HERE -->
             {% block title %}
            <title>Transaction List</title>
            {% endblock title %}
            
            <!-- FAVICONS ICON -->
            {% block favicon %}
            <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
            <!-- Datatable -->
            <link href="{% static 'pages/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
            <!-- Custom Stylesheet -->
            <link href="{% static 'pages/vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
            <link href="{% static 'pages/css/style.css' %}" rel="stylesheet">
            
            {% endblock favicon %}
        </head>
        
        <body>
        
            <!--*******************
                Preloader start
            ********************-->
           <div id="preloader">
                <div class="lds-ripple">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <!--*******************
                Preloader end
            ********************-->
        
            <!--**********************************
                Main wrapper start
            ***********************************-->
            <div id="main-wrapper">
        
                <!--**********************************
                    Nav header start
                ***********************************-->
                
                <!--**********************************
                    Nav header end
                ***********************************-->
                
                <!--**********************************
                    Chat box start
                ***********************************-->
                
                <!--**********************************
                    Chat box End
                ***********************************-->
            
                
                <!--**********************************
                    Header start
                ***********************************-->
               
                            
                <!--**********************************
                    Header end ti-comment-alt
                ***********************************-->
        
                <!--**********************************
                    Sidebar start
                ***********************************-->
                
                <!--**********************************
                    Sidebar end
                ***********************************-->
        
                <!--**********************************
                    Content body start
                ***********************************-->
                {% block contentbody %}
                <div class="content-body">
                    <div class="container-fluid">
        				
                        <!-- <div class="row page-titles">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">
                                    <button type="button" class="btn btn-danger"><a href="{% url 'business:transact_create' state=subjects.state.slug slug=subjects.slug %}"><span style="color:white;"><b>Create Transaction</b></span></a></button>
                                </a></li>
                            
                            </ol>
                        </div> -->

                        <!-- row -->
        
        
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Transaction List Table</h4>
                                        {% if user.is_authenticated and user.profile.user_role == 'merchant' %}
                                        <button type="button" class="btn btn-danger"><a href="{% url 'business:transact_create' state=subjects.state.slug slug=subjects.slug %}"><span style="color:white;"><b>Create Transaction</b></span></a></button>
                                        {% endif %}
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="example4" class="display" style="min-width: 845px">
                                                <thead>
                                                    <tr>
                                                        <th>S/No.</th>
                                                        <th>Trans. ID</th>
                                                        <th>State</th>                                                        
                                                        <th style="color: red;">Max Amount </th>
                                                        <th>Min. Amount </th>                                                
                                                        <th style="color: red;">App-Charges</th>
                                                        <th>Type</th>
                                                        <th>Date</th>
                                                        <th>Action </th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                <tr>
                                                 {% for trans in subjects.transacts.all %} 
                                                <td>{{forloop.counter}}</td>
                                                <td>{{trans.transact_id}}</td>
                                                <td>{{trans.state }}</td>
                                                <td style="color: red;">{{trans.max_amount }}</td>
                                                <td>{{trans.min_amount }}</td>

                                                {% if user.profile.user_role == 'merchant' %}
                                                {% if trans.payment_confirmed %}
                                                <td style="color: red;">N{{trans.company_charges }} - <span style="color: green;">PAID</span></td> 
                                                {% else %} 
                                                <td style="color: red;">N{{trans.company_charges }} - pending</td> 
                                                {% endif %} 
                                                {% else %} 
                                                <td style="color: red;">N{{trans.merchant_commission }}</td> 
                                                {% endif %}  
                                                {% if trans.remote_option %}  
                                                <td>REMOTE</td> 
                                                {% else %}                                                                                      
                                                <td><strong>NORMAL</strong></td> 
                                                {% endif%} 
                                                <td>{{trans.trans_date | date:"d/m/Y"}}</td> 
                                                <td ><button type="button" class="btn btn-success"><a href="{% url 'business:transact_detail' slug=trans.slug subject=subjects.slug state=trans.state.slug %}">View Trans.</button> </a></td>
                                                </tr>
                                                 {% endfor %}
                                                 
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock contentbody %}
                <!--**********************************
                    Content body end
                ***********************************-->
        
        
                <!--**********************************
                    Footer start
                ***********************************-->
           
                <!--**********************************
                    Footer end
                ***********************************-->
        
                <!--**********************************
                   Support ticket button start
                ***********************************-->
        
                <!--**********************************
                   Support ticket button end
                ***********************************-->
        
                
            </div>
            <!--**********************************
                Main wrapper end
            ***********************************-->
        
            <!--**********************************
                Scripts
            ***********************************-->
            {% block script %}
            <!-- Required vendors -->
            <script src="{% static 'pages/vendor/global/global.min.js' %}"></script>
            <script src="{% static 'pages/vendor/chart.js/Chart.bundle.min.js' %}"></script>
            <!-- Apex Chart -->
            <script src="{% static 'pages/vendor/apexchart/apexchart.js' %}"></script>
            
            <!-- Datatable -->
            <script src="{% static 'pages/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
            <script src="{% static 'pages/js/plugins-init/datatables.init.js' %}"></script>
        
            <script src="{% static 'pages/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
        
            <script src="{% static 'pages/js/custom.min.js' %}"></script>
            <script src="{% static 'pages/js/dlabnav-init.js' %}"></script>
            <script src="{% static 'pages/js/demo.js' %}"></script>
            <script src="{% static 'pages/js/styleSwitcher.js' %}"></script>
            {% endblock script %}
        </body>
        </html>

