{% extends 'pages/dashboard.html'%}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
<title>Transaction Detail </title>
{% endblock title%}

{% block contentbody %}

<div class="content-body">
	<div class="container-fluid">
		
		<div class="row page-titles">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active"><a href="javascript:void(0)">{{ transacts.subject }}</a></li>
				<li class="breadcrumb-item"><a href="javascript:void(0)">Trans ID : <strong> {{ transacts.transact_id }} </strong><span> - State : <strong>{{ transacts.state }}</strong></span></a></li>
			</ol>
		</div>
		
		<!-- row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="email-left-box generic-width px-0 mb-5">
							<div class="p-0">
								{% if user.is_authenticated and user.is_superuser or user.profile.user_role == 'merchant' %}
								
								<!-- <a href="email-compose.html" class="btn btn-primary btn-block">Compose</a> -->
								<p>Use the buttons below to Update or Delete or End transaction</p>
								<p><a href="{% url 'business:transact_update' state=transacts.state.slug subject=transacts.subject.slug slug=transacts.slug %}" class="btn btn-info">Update Transaction</a><br></p>
								<p><a href="{% url 'business:transact_delete' state=transacts.state.slug subject=transacts.subject.slug slug=transacts.slug %}" class="btn btn-danger">Delete Transaction</a></p>
								<p><a href="{% url 'business:transact_complete' state=transacts.state.slug subject=transacts.subject.slug slug=transacts.slug %}" class="btn btn-secondary">Complete Transaction</a></p>

								{% else %}
								<p><a href="#">Merchant's Contact</a><br></p>

								{% endif %}
							
							</div>

						</div>
						<div class="email-right-box ms-0 ms-sm-4 ms-sm-0">
							<div class="row">
						
										<div class="read-content">
											<div class="media pt-3 d-sm-flex d-block justify-content-between">
												<div class="clearfix mb-3 d-flex">
													<div class="media-body me-2">
														<h5 class="text-primary mb-0 mt-1"><span style="color:black">Created By Merchant :  </span> <a href="">{{ transacts.created_by}} </a></h5>
														<h5 class="text-primary mb-0 mt-1"><span style="color:black">Created on: </span> {{ transacts.created_at}}</h5>
														
													</div>
												</div>
												<div class="clearfix mb-3">
													<a href="javascript:void()" class="btn btn-primary px-3 my-1 light me-2"><i class="fa fa-reply"></i> </a>
													<a href="javascript:void()" class="btn btn-primary px-3 my-1 light me-2"><i class="fas fa-arrow-right"></i> </a>
													<a href="javascript:void()" class="btn btn-primary px-3 my-1 light me-2"><i class="fa fa-trash"></i></a>
												</div>
											</div>
											<hr>
											<div class="media mb-2 mt-3">
												
												<div class="media-body">
													<h4 class="mb-4">Transaction Details:</h4>																								

											<div>																													
											</div>
											
											<div class="read-content-body">
												
												<p class="mb-2"><strong>Transaction's Highlights:</strong></p>
												<p class="mb-2">Maximum Amount Available: <strong> N{{ transacts.max_amount}}</strong></p>
												<p class="mb-2">Minimum Withdrawable Amount:<strong> N{{ transacts.min_amount}}</strong> </p>
												<p class="mb-2">Prefered Payment Method: <strong>{{ transacts.prefered_method}}</strong> </p>
												<p class="mb-2">Minimum Withdrawable Amount: <strong>{{ transacts.min_amount}}</strong> </p>
												
												<pclass="mb-2">Merchant Remark : <strong>{{ transacts.remark | safe }}</strong>	</p>									
																																				
											</div>
											<hr>
											{% if transacts.trans_status %}
											<div class="mb-3 pt-3">												
													<h6>For Subscriber Amount/Comment Area</h6>
													<div class="">														
														<h6>Enter the Amount You need a comment to connect with the merchant:</h6>
												<form method="post">
												<div class="">
												{% csrf_token %}
												{{form|crispy}}
												<input type="submit" name="form" value="Add Comment" class="btn btn-primary btn-sm">
												</div>
												</form> <h1></h1>
												
												{% for comment in transacts.comments.all %}
												<h5> - {{comment.author}} :<small> a {{comment.author.profile.user_role}} needs cash - <i>posted on: {{comment.date_added}}</i></small></h5>
												<p>
													<span> - Cash Sum Needed: <strong>N{{comment.required_amount}}</strong></span><br>
													<span> - Charges Due: <strong>N{{comment.charges_on_transaction}} - </strong>
															Subscriber will pay total sum Of: <strong>N{{comment.total_payable}}</strong> to the merchant</span><br>
													<span> - Subscriber's Remark: <strong>{{comment.body}}</strong></span>
												</p>
												{% for reply in comment.replies.all %}																					
												<h5> - {{reply.author}}<small><i>- Posted a reply on: {{reply.date_added}}</i></small></h5>
												
                                                    <div class="subject">{{reply.reply_body}} </div>
                                                    </a>
																																		
												{% endfor %}
												
												
												<!-- form to post reply -->
												
												
												<form method="post">
												
												<input type="hidden", name="comment.id" value="{{comment.id}}">
												<input type="hidden", name="comment.comm_name" value="{{comment.comm_name}}">
												{% csrf_token %}
												{{form2.as_p}}
												<input type="submit" name="form2" value="Add Reply" class="btn btn-warning btn-sm">
												
												</form>
												{% endfor %}
												{% else %}
												<h4 style="color: red;">Transaction Locked !</h4>
												{% endif %}
												</div>
												</div>
												
												
												

								</div>
								</div>
								
							</div>
						</div>
					</div>  
				</div>

				</div>
				</div>
				</div>
				</div>
				</div>
				</div>
				

{% endblock contentbody %}