{% extends 'pages/dashboard.html'%}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
<title>Transaction Detail </title>
{% endblock title%}

{% block contentbody %}

<div class="content-body">
	<div class="container-fluid">
		
		<div class="row page-titles">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="javascript:void(0)">LOCATION: <span style="color: brown;">{{ transacts.state }} State</span></a></li>
				<li class="breadcrumb-item"><a href="javascript:void(0)">Trans ID : <strong style="color: brown;"> {{ transacts.transact_id }} </strong></span></a></li>
			</ol>
		</div>
		
		<!-- row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="email-left-box generic-width px-0 mb-5">
							<div class="p-0">
								{% if user.is_authenticated and user.is_superuser or user.profile.user_role == 'merchant' %}
								
								<!-- <a href="email-compose.html" class="btn btn-primary btn-block">Compose</a> -->
								<p>Use the buttons below to Update or Delete or End transaction</p>
								<p><a href="{% url 'business:transact_update' state=transacts.state.slug subject=transacts.subject.slug slug=transacts.slug %}" class="btn btn-info">Update Transaction</a><br></p>
								<p><a href="{% url 'business:transact_complete' state=transacts.state.slug subject=transacts.subject.slug slug=transacts.slug %}" class="btn btn-secondary">Complete Transaction</a></p>
								<p><a href="{% url 'business:transact_delete' state=transacts.state.slug subject=transacts.subject.slug slug=transacts.slug %}" class="btn btn-danger">Delete Transaction</a></p>

								{% else %}
								<p>Subscribers should initiate transaction by completing the Comment Form provided under the transaction detail:</p>
								
								{% endif %}
							
							</div>

						</div>
						<div class="email-right-box ms-0 ms-sm-4 ms-sm-0">
							<div class="row">
						
										<div class="read-content">
											<div class="media pt-3 d-sm-flex d-block justify-content-between">
												<div class="clearfix mb-3 d-flex">
													<div class="media-body me-2">
														<h5 class="text-primary mb-0 mt-1"><span style="color:black">Transaction Created By Merchant :  </span> "{{ transacts.created_by}}" </h5>
														<h5 class="text-primary mb-0 mt-1"><span style="color:black">Created on: </span> {{ transacts.created_at}} <span style="color: black;">location:</span>  {{transacts.state}} STATE"</h5>
														
													</div>
												</div>
												<div class="clearfix mb-3">
													<a href="javascript:void()" class="btn btn-primary px-3 my-1 light me-2"><i class="fa fa-reply"></i> </a>
													<a href="javascript:void()" class="btn btn-primary px-3 my-1 light me-2"><i class="fas fa-arrow-right"></i> </a>
												</div>
											</div>

											<div class="media mb-0 mt-3">												
												<div class="media-body">													
													<div id="DZ_W_TimeLine" class="widget-timeline dlab-scroll height260">
														<ul class="timeline">
															<li>
																<div class="timeline-badge warning"></div>
																<a class="timeline-panel text-muted" href="#">
																	<h6>
																	<span style="font-size: 20px; color: red;">Transaction Details:</span>
																	<span>TRANSACTION ID: <strong>{{ transacts.transact_id}}</strong></span>
																	<span class="mb-2">Total Available: <strong style="font-size: 16px;"> N{{ transacts.max_amount}}</strong>
																	<span class="mb-2">Minimum Withdrawable:<strong style="font-size: 16px;"> N{{ transacts.min_amount}}</strong> </span>
																	<span class="mb-2">Payment Method: <strong style="font-size: 12px;">{{ transacts.prefered_method}}</strong> </span>
																	<span class="mb-2">Merchant Remark : <strong style="font-size: 12px;">{{ transacts.remark | safe }}</strong>	</span>									
																</h6>
																</a>																
															</li>
															</ul>
															</div>														

											<!-- <div>																													
											</div>								 -->
																					
											<hr>
											{% if transacts.payment_confirmed %}
											<div class="mb-3 pt-3">												
													<h5 style="color:red;">For Subscribers Only:</h5>
													<div class="">														
														<h6>Enter the Amount You need and comment to connect with the merchant:</h6>
												<form method="post">
												<div class="">
												{% csrf_token %}
												{{form|crispy}}
												<input type="submit" name="form" value="Add Comment" class="btn btn-primary btn-sm">
												</div>
												</form> <hr>
												
												
												{% for comment in transacts.comments.all %}
												<h4>Subscriber's Initiated Transaction</h4>												
												<div id="DZ_W_TimeLine" class="widget-timeline dlab-scroll height170">
													<ul class="timeline">
														<li>
															<div class="timeline-badge success"></div>
															<a class="timeline-panel text-muted" href="#">
																<span>{{comment.date_added}}</span>
																<h6 class="mb-0"><span style="font-size: 16px;"></span>"{{comment.author}}" a {{comment.author.profile.user_role}} needs: <strong class="text-primary">N{{comment.required_amount}}</strong> 
																<span>Charges:<strong class="text-primary" style="font-size: 14px;"> N{{ comment.charges_on_transaction}}</strong> -Total Payable: <strong class="text-primary" style="font-size: 14px;">N{{comment.total_payable}}</strong></span>
																<span><strong>Subscriber Message:</strong> <i>{{ comment.body}}</i></span>
																</h6>																	
															</a>
															
														</li>
														</ul>
														</div>



												{% for reply in comment.replies.all %}
												<h4 style="color:green">Transaction Response</h4>																					
												<!-- <p style="font-size: 14px;"> - {{reply.author}}<small>- Posted a reply on: {{reply.date_added}}</small></p>
												
                                                    <div class="subject" style="color:brown">{{reply.reply_body}} </div> -->

													<div id="DZ_W_TimeLine" class="widget-timeline dlab-scroll height170">
														<ul class="timeline">
															<li>
																<div class="timeline-badge primary"></div>
																<a class="timeline-panel text-muted" href="#">																	
																	<h6 class="mb-0"><span style="font-size: 16px;"><strong class="text-primary">"{{reply.author}}"</strong> a {{ reply.author.profile.user_role }}</span> Posted a reply on: <strong class="text-primary">{{reply.date_added}}</strong></h6>
																	<span style="font-size: 14px; color: black;"><strong>- Detail:</strong> {{reply.reply_body}}</span>
																</a>
																
															</li>
															</ul>
															</div>
                                                    </a>
																																		
												{% endfor %}
												
												
												<!-- form to post reply -->												
												
												<form method="post">
												
												<input type="hidden", name="comment.id" value="{{comment.id}}">
												<input type="hidden", name="comment.comm_name" value="{{comment.comm_name}}">
												{% csrf_token %}
												{{form2.as_p}}
												<input type="submit" name="form2" value="Add Reply" class="btn btn-warning btn-sm">
												
												</form>
												{% endfor %}
												{% else %}
												{% if user.profile.user_role == 'merchant' %}
												<h4 style="color: red;">Transaction Locked ! <span style="font-size: 12px; color: black;">You Must Pay <span style="color:brown"> ( N{{ transacts.company_charges}} )</span> App-Charges To Unlock</span></h4>
												<p><a href="{% url 'business:charges_update' state=transacts.state.slug subject=transacts.subject.slug slug=transacts.slug %}" class="btn btn-secondary">Pay Trans. Charges</a></p>
												
												{% elif user.profile.user_role == 'subscriber' %}
												<h4 style="color: red;">Transaction Locked ! <span style="font-size: 14px; color: green;">Contact Merchant</span></h4>
												{% else %}
												Contact us
												{% endif %}

												{% endif %}
												</div>
												</div>
												
												
												

								</div>
								</div>
								
							</div>
						</div>
					</div>  
				</div>

				</div>
				</div>
				</div>
				</div>
				</div>
				</div>
				

{% endblock contentbody %}