{% extends 'pages/dashboard.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	
	<!-- PAGE TITLE HERE -->
    {% block title %}
	<title>Verified Subscribers-List</title>
    {% endblock title %}
	
	<!-- FAVICONS ICON -->
     {% block favicon %}
	<link rel="shortcut icon" type="image/png" href="{% static 'pages/images/favicon.png' %}" />
	<link href="{% static 'pages/vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
	<link href="{% static 'pages/vendor/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
	<link href="{% static 'pages/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
	
	<!-- Style css -->
	<link href="{% static 'pages/css/style.css' %}" rel="stylesheet">
    {% endblock favicon %}
	
</head>
<body>

	<!--*******************
		Preloader start
	********************-->
	<div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
	</div>
	<!--*******************
		Preloader end
	********************-->

	<!--**********************************
		Main wrapper start
	***********************************-->
	<div id="main-wrapper">

		<!--**********************************
			Nav header start
		***********************************-->
		
		<!--**********************************
			Nav header end
		***********************************-->
		
		<!--**********************************
			Chat box start
		***********************************-->
		
		<!--**********************************
			Chat box End
		***********************************-->
		
		<!--**********************************
			Header start
		***********************************-->
		
		<!--**********************************
			Header end ti-comment-alt
		***********************************-->

		<!--**********************************
			Sidebar start
		***********************************-->
		
		<!--**********************************
			Sidebar end
		***********************************-->
		
		<!--**********************************
			Content body start
		***********************************-->
        {% block contentbody %}
		<div class="content-body">
			<!-- row -->
			<div class="container-fluid">
				<div class="d-flex justify-content-between align-items-center flex-wrap">
					<div class="card-action coin-tabs mb-3">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-bs-toggle="tab" href="#AllEmployee">All Verified Subscribers</a>
							</li>
							<!-- <li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#ActiveEmployee">Active Subscribers</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#InactiveEmployee">Inactive Subscribers</a>
							</li> -->
						</ul>
					</div>
					<div class="d-flex align-items-center mb-3"> 
						<a href="javascript:void(0);" class="btn btn-secondary">+ VERIFIED</a>
						<div class="newest ms-3">
							<select class="default-select">
								<option>Newest</option>
								<option>Oldest</option>
							</select>
						</div>	
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-xl-12">
						<div class="card">
							<div class="card-body p-0">
								<div class="tab-content">	
									<div class="tab-pane active show" id="AllEmployee">
										<div class="table-responsive">
											<table class="table card-table display mb-4 shadow-hover table-responsive-lg" id="guestTable-all">
												<thead>
													<tr>
														<th class="bg-none">
															<div class="form-check style-1">
															  <input class="form-check-input" type="checkbox" value="" id="checkAll">
															</div>
														</th>
														<th>Name & ID</th>
														<th>State & Address</th>
														<th>Date Joined</th>
														<th>Phone</th>
														<th>Email</th>
														
													</tr>
												</thead>
												<tbody>
													{% for sub in subscriber %}
													{% if sub.nin_verified %}
													
													<tr>
														<td>
															<div class="form-check style-1">
															  <input class="form-check-input" type="checkbox" value="">
															</div>
														</td>
														<td>
															<div class="concierge-list-bx d-flex align-items-center">
																<img class="me-3 rounded" src="{{ sub.user.profile.image.url }}" alt="">
																<div>
																	<h5 class="fs-16 mb-0 text-nowrap"><a class="text-black" href="{% url 'users:profile-detail' sub.id %}">{{sub.user.username}}</a></h5>
																	<span class=" text-secondary fs-14 d-block"><a class="text-black" href="{% url 'users:profile-detail' sub.id %}">{{ sub.user.first_name }} - {{ sub.user.last_name}}</a> </span>
																</div>
															</div>
														</td>
														<td class="">
															<p class="mb-0">{{ sub.state }} <br />{{ sub.address }}</p>
														</td>
														<td>
															<div>
																<h5 class="text-nowrap">{{ sub.created | date:"d/m/Y"}}</h5>
																<span class="tex-secondary text-nowrap"></span>
															</div>
														</td>
														<td>
															<div>
																
																<span class="font-w600 text-nowrap"><i class="fas fa-phone-alt me-2 "></i>{{ sub.user.profile.phone }}</span>
															</div>
														</td>
														<td>
															<span  class="font-w600 text-success">{{ sub.email }}</span>
														</td>
												
													</tr>
													{% endif %}
													{% endfor %}
													
												</tbody>
											</table>
										</div>	
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        {% endblock contentbody %}
		<!--**********************************
			Content body end
		***********************************-->
		
		
		
		<!--**********************************
			Footer start
		***********************************-->
	
		<!--**********************************
			Footer end
		***********************************-->

		<!--**********************************
		   Support ticket button start
		***********************************-->
		
		<!--**********************************
		   Support ticket button end
		***********************************-->


	</div>
	<!--**********************************
		Main wrapper end
	***********************************-->

	<!--**********************************
		Scripts
	***********************************-->
    {% block script %}
	<!-- Required vendors -->
	<script src="{% static 'pages/vendor/global/global.min.js' %}"></script>

	<script src="{% static 'pages/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
	
	<!-- Apex Chart -->
			
	<!-- Chart piety plugin files -->	
	
	<!-- Dashboard 1 -->
	<!-- momment js is must -->
    <script src="{% static 'pages/vendor/moment/moment.min.js' %}"></script>
    <script src="{% static 'pages/vendor/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
	

	
	<script src="{% static 'pages/js/custom.min.js' %}"></script>
	<script src="{% static 'pages/js/dlabnav-init.js' %}"></script>
	<script src="{% static 'pages/js/demo.js' %}"></script>
	<script src="{% static 'pages/js/styleSwitcher.js' %}"></script>
	<script src="{% static 'pages/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'pages/js/plugins-init/datatables.init.js' %}"></script>
	
	<script>
		$(function() {

			var start = moment().subtract(29, 'days');
			var end = moment();

			function cb(start, end) {
				$('#reportrange span').html(start.format('D MMMM YYYY') + ' &nbsp - &nbsp ' + end.format('D MMMM YYYY'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>
{% endblock script %}

</body>
</html>